{% extends "base.html" %}
{% block content %}
<section id="aboutMe">
    <div id="summaryContainer">
        <div>
            <img src="{{url_for('static', filename='assets/profile.jpeg')}}" alt="Shanu Khera" class="imgRound" alt="Khera Shanu Profile Pic" />
        </div>
        <div>
            <p>Hi, My name is Shanu Khera, a pragmatic programmer with a passion for solving problems using technology.</p>
            <p>I am an accomplished software and data engineer, I have over a decade of experience architecting and building robust large-scale distributed systems, data pipelines, and web applications using technologies like Airflow, Spark, Kafka, AWS, and React.</p>
            <p>My solutions have powered products and platforms handling massive traffic and data volumes.</p>
        </div>
    </div>
    <div id="timelineEvents">
        <div class="timelineEvent">
            <h2>2021 to Present</h2>
            <h3>Backend Engineering --> Data Engineering</h3>
            <ul>
                <li>Initially recruited for backend/frontend roles. Transitioned to a pivotal Data Engineering position due to organizational needs.</li>
                <li>Working on multiple data pipeline projects, leveraging: Apache Airflow, AWS services (notably S3, EMR, and Batch), Apache Spark, Postgres(RDS), and Clickhouse</li>
                <li>Also, worked on many Microservices with backends written in either Go or Python and Micro-frontends using React JS, TypeScript, and Redux.</li>
            </ul>
        </div>
        <div class="timelineEvent">
            <h2>Late 2019</h2>
            <h3>Gaming + Education = Everything I love!</h3>
            <ul>
                <li>Alongside with one of NGO student, We developed a commercial gaming platform for teaching kids between 6 to 15 years old, how to code!</li>
                <li>The innovative platform engaged players in coding while navigating a platformer game. Garnered support from a few Sequoia Capital professionals on a personal capacity.</li>
                <li>Utilized Tech Stack: Phaser JS, Fast API, Flask, Docker, React JS, Postgres, AWS, TypeScript. Used a Microservice architecture that was later moved to Monolith, Stupid Me!</li>
                <li>Successfully sold the product to a major American company for half a million USDs (details confidential due to NDA).</li>
            </ul>
        </div>
        <div class="timelineEvent">
            <h2>2018 (and late 2017)</h2>
            <h3>Life of Meaning > Life of Success!</h3>
            <ul>
                <li>Embraced my passion for education by joining the nascent NGO, Navgurukul. As one of the early pioneers, we aimed to revolutionize education by imparting tech skills to underprivileged students from rural India, many of whom had never even operated a computer.</li>
                <li>After dedicating six impactful months to Navgurukul, I transitioned to the global scene by joining the Australian startup, Avior Wealth, as their technical lead. Prioritizing social impact, I successfully facilitated the hiring of four of our Navgurukul students to the startup.</li>
                <li>Utilizing cutting-edge technologies such as AWS, Docker, Python, Javascript, React JS, React Native, Flask, Postgres, and Redis, I spearheaded the tech division of Avior Wealth. However, despite two years of relentless effort, we had to pause operations due to funding constraints.</li>
                <li>P.S. Navgurukul is hugely successful now and Avior resumed it's tech work after ~ 6 Months.</li>
            </ul>
        </div>
        <div class="timelineEvent">
            <h2>2017</h2>
            <h3>Kids, let's code!</h3>
            <ul>
                <li>Cultivated and pursued my profound passion for education by initiating weekend programming classes for youngsters at Code Wizards, an innovative endeavor by the renowned service startup, Red Panda Innovation Labs.</li>
                <li>Concurrently managed my professional responsibilities at Octro Inc. during weekdays, reflecting my unwavering dedication and multitasking abilities.</li>
                <li>Recognizing my impactful contributions, Red Panda Inc. entrusted me with the leadership role, prompting my relocation from Delhi to Pune to helm the technical division of Code Wizards.</li>
                <li>Although the venture did not yield significant financial returns, it served as a rich learning experience for both me and the company, underscoring our commitment to experimentation and growth.</li>
            </ul>
        </div>
        <div class="timelineEvent">
            <h2>2015</h2>
            <h3>Does it Scale?</h3>
            <ul>
                <li>Joined India's leading mobile game giant, Octro Inc., mastering scalable architectures and diving deep into tools such as Apache Kafka, MySQL, Cassandra, Nagios, Elasticsearch, Hadoop, Erlang and Jenkins, all while honing skills in C and Python.</li>
                <li>Pioneered a reliable logging service over UDP, efficiently handling 100 million+ log events on peak weekends, crucial for in-game fraud detection.</li>
            </ul>
        </div>
        <div class="timelineEvent">
            <h2>2013</h2>
            <h3>Code, code, code ...</h3>
            <ul>
                <li>Triumphantly graduated from Birla Institute of Applied Sciences among the elite top 10% of my class. Concurrently, I self-initiated a venture into Python, mastering it alongside the core curriculum, and proficiently applied knowledge in real-world projects employing tools such as SQL, PHP, HTML, and CSS.</li>
                <li>Cultivated a profound interest and understanding in domains like Data Structures and Algorithms (DSA), Operating Systems (OS), Computer Networks, Compiler Design, and Advanced Programming.</li>
                <li>Ascended to the role of Vice Secretary for the college's Technical Society, leading it to numerous victories in inter-college competitions spanning areas like web development, robotics, and technical presentations.</li>
                <li>Spearheaded the revamp and maintenance of the college website, innovatively introducing features and fortifying its security from the ground up.</li>
                <li><b>Embarked on my professional journey</b> with telecom behemoth, Aricent Technologies (now under the aegis of Capgemini). For two impactful years, I contributed to the SS7 stack, primarily using C programming, and played an instrumental role in enhancing the Oracle Eagle STP product line.</li>
            </ul>
        </div>
        <div class="timelineEvent">
            <h2>2009</h2>
            <h3>Welcome to The University!</h3>
            <ul>
                <li>Achieved a remarkable feat by cracking the IIT JEE Exam, securing a position in the extended merit list, and distinguishing myself among the top 4% out of 1.2 million students in the prestigious All India Exam, AIEEE.</li>
                <li>Commenced my educational journey at Birla Institute of Applied Sciences, where I entered as a Rank Opener for Computer Science Engineering. In the very first semester, I embarked on a transformative journey into the world of programming, delving into the realms of web development and mastering the intricacies of C programming.</li>
                <li>Demonstrated exceptional prowess by securing the first position in subjects such as Engineering Mathematics, Engineering Physics, and Electrical Engineering, a testament to my dedication and academic excellence.</li>
            </ul>
        </div>
        <div class="timelineEvent">
            <h2>2008</h2>
            <h3>An Exemplary Culmination of My High School Tenure.</h3>
            <ul>
                <li>Graduated among the elite top 5% of my high school class, showcasing particular distinction in Physics and Mathematics.</li>
                <li>Triumphed at the state level in the National Physics Olympiad, underscoring my deep aptitude and commitment to the discipline.</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}