{% extends "base.html" %}
{% block content %}
<section class="blogSnippet">
    <p>August 28, 2023</p>
    <h2>Mastering Stream Processing: Kafka's Role in Real-time Data Analysis</h2>
    <p>In the era of instant gratification, real-time data processing isn't just a luxury—it's a necessity. Dive deep into Kafka's pivotal role in transforming how businesses approach stream processing ...</p>
    <div class="blogMetaContainer">
        <span>~ 5 Minutes Read</span>
        <span><span>Data Engineering</span></span>
        <button class="orangeButton">Read More!</button>
    </div>
</section>
<section class="blogSnippet">
    <p>August 28, 2023</p>
    <h2>Mastering Stream Processing: Kafka's Role in Real-time Data Analysis</h2>
    <p>In the era of instant gratification, real-time data processing isn't just a luxury—it's a necessity. Dive deep into Kafka's pivotal role in transforming how businesses approach stream processing ...</p>
    <div class="blogMetaContainer">
        <span>~ 5 Minutes Read</span>
        <span><span>Data Engineering</span></span>
        <button class="orangeButton">Read More!</button>
    </div>
</section>
<section>
    <ul id="blogList">
        <li>
            <h3>2023</h3>
            <ul class="ul-year">
                <li>
                    <h4>August</h4>
                    <ul class="ul-month">
                        <li>
                            <h5>Optimizing Microservices: Best Practices for Efficient Scaling</h5>
                        </li>
                        <li>
                            <h5>Optimizing Microservices: Best Practices for Efficient Scaling</h5>
                        </li>
                        <li>
                            <h5>Optimizing Microservices: Best Practices for Efficient Scaling</h5>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4>July</h4>
                    <ul class="ul-month">
                        <li>
                            <h5>Optimizing Microservices: Best Practices for Efficient Scaling</h5>
                        </li>
                        <li>
                            <h5>Optimizing Microservices: Best Practices for Efficient Scaling</h5>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <h3>2022</h3>
            <ul class="ul-year">
                <li>
                    <h4>August</h4>
                    <ul class="ul-month">
                        <li>
                            <h5>Optimizing Microservices: Best Practices for Efficient Scaling</h5>
                        </li>
                        <li>
                            <h5>Optimizing Microservices: Best Practices for Efficient Scaling</h5>
                        </li>
                        <li>
                            <h5>Optimizing Microservices: Best Practices for Efficient Scaling</h5>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4>July</h4>
                    <ul class="ul-month">
                        <li>
                            <h5>Optimizing Microservices: Best Practices for Efficient Scaling</h5>
                        </li>
                        <li>
                            <h5>Optimizing Microservices: Best Practices for Efficient Scaling</h5>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</section>
{% endblock %}