{% extends "base.html" %}
{% block content %}

<section id="projects">
    <div class="project">
        <div>
            <div>
                <img src="{{url_for('static', filename='assets/dexter.webp')}}" alt="Dexter Programming Language" class="imgRound"/>
            </div>
            <div>
                <h2>Dexter Programming Language and Interpreter.</h2>
                <ul>
                    <li>Dexter is a dynamic and expressive programming language built from scratch!</li>
                    <li>Dexter is designed to be a versatile, easy-to-learn language with a focus on readability and flexibility.</li>
                    <li>Written in Go and Python. (same implementation, twice!)</li>
                </ul>
            </div>
        </div>
        <h3>Key Features:</h3>
        <ul>
            <li>
                <b>Dynamic Typing:</b> <span>Dexter is dynamically typed, making it flexible and adaptable for various programming tasks.</span>
            </li>
            <li>
                <b>Readable Syntax:</b> <span>The language prioritizes clean and human-readable code, making it an excellent choice for both beginners and experienced developers.</span>
            </li>
            <li>
                <b>Core Constructs:</b> <span>Dexter supports essential programming constructs such as variables, conditionals, loops, functions, and more.</span>
            </li>
            <li>
                <b>Object-Oriented:</b> <span>Dive into the world of object-oriented programming with Dexter's support for classes and inheritance.</span>
            </li>
            <li>
                <b>Interpreter:</b> <span>The tree-walk interpreter for Dexter allows you to execute code seamlessly, gaining a deeper understanding of interpreter construction.</span>
            </li>
        </ul>
        <br/>
        <p><a href="https://github.com/khera-shanu/dexter" target="_blank" class="orangeButton">VIEW ON GITHUB</a></p>
    </div>
    <div class="project">
        <div>
            <div>
                <img src="{{url_for('static', filename='assets/asha.webp')}}" alt="Asha - static site generator" class="imgRound"/>
            </div>
            <div>
                <h2>ASHA - A static blogging site generator with batteries included.</h2>
                <ul>
                    <li>Asha is a streamlined static blogging site generator designed to simplify the process of creating static websites. Built with Python, it leverages the power of rangeen, markdown2, and flask (jinja2) to provide a seamless experience for developers.</li>
                    <li>The tool is specifically optimized for Python 3.6 and above, ensuring compatibility with modern Python versions.</li>
                    <li>Written in Python using flask, rangeen, and markdown.</li>
                    <li>Install using: <strong> pip install asha </strong></li>
                </ul>
            </div>
        </div>
        <h3>Key Features:</h3>
        <ul>
            <li>
                <b>A simple command-line tool:</b> <span>Commands like <strong>init, build, serve and clean</strong> make it easy to set up, compile, and maintain your static site.</span>
            </li>
            <li>
                <b>Customization:</b> <span>Edit .md files for blog content and .json files for theme-related and site-wide changes.</span>
            </li>
            <li>
                <b>Folder Structure:</b> <span>A well-organized folder structure is already set up for users.</span>
            </li>
            <li>
                <b>Default Theme:</b> <span>Comes with a built-in theme to get users started quickly.</span>
            </li>
            <li>
                <b>HTML Minification:</b> <span>Ensures that the generated HTML is optimized for faster loading times.</span>
            </li>
            <li>
                <b>Real World Example:</b> <span>"KHERASHANU.COM" uses Asha and Firebase(Hosting only).</span>
            </li>
        </ul>
        <br/>
        <p><a href="https://github.com/khera-shanu/asha" target="_blank" class="orangeButton">VIEW ON GITHUB</a></p>
    </div>
    <div class="project">
        <div>
            <div>
                <img src="{{url_for('static', filename='assets/watari.webp')}}" alt="WATARI Teaching Bot!" class="imgRound"/>
            </div>
            <div>
                <h2>WATARI AI - next-generation AI bot exclusively crafted for Giganoto's (See community page) bootcamp.</h2>
                <ul>
                    <li>Watari answers doubts and grades assignments instantly.</li>
                    <li>Watari offers vast educational resources for every Giganoto learner.</li>
                    <li>Watari can access the internet, many free and open-source repositories and free to read books on the internet for knowledge building.</li>
                    <li>Watari uses OPEN AI and in-build AI tools that make it a low latency, low cost, and performance bot that can utilize cache.</li>
                    <li>Watari is Free to use for Bootcamp students only and it's context aware!</li>
                </ul>
            </div>
        </div>
        <h3>Key Features:</h3>
        <ul>
            <li><b>Comprehensive Content Access:</b> <span>Dive into a rich collection of materials uniquely designed for Giganoto's bootcamp.</span></li>
            <li><b>Instant Doubt Resolution:</b> <span>Get answers in real-time, ensuring continuous learning without interruptions.</span></li>
            <li><b>Immediate Assignment Grading:</b> <span>Receive instant, constructive feedback, helping you refine your skills efficiently.</span></li>
            <li><b>Adaptive Learning Paths:</b> <span>Watari adjusts its methods, offering a tailored learning experience for each individual.</span></li>
            <li><b>24/7 Availability:</b> <span>Round-the-clock assistance, making sure learners have support whenever required.</span></li>
        </ul>
        <br/>
        <p><a href="https://giganoto.com" target="_blank" class="orangeButton">TRY WATARI ON GIGANOTO</a></p>
        <br/>
        <p>WATARI is closed source software and Yes, I am a Deathnote fan. (My CS GO handle is Lawliet 😉)</p>
    </div>
</section>
{% endblock %}